extends layout

block content
  h1 Welcome to Nepali Hami 🎸
  p The guitar learning platform for everyone!
  
  .card
    h2 Start Learning Today
    p Whether you are a complete beginner or looking to improve your skills, we have lessons for you.
    a.btn(href="/lessons") Browse Lessons
  
  .card
    h2 Practice Tools
    p Access chord diagrams, tablature, metronome and tuner tools.
    a.btn(href="/categories") View Categories
  
  .card
    h2 Community
    p Join other learners and track your progress.
    a.btn(href="/users") View Learners